<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Journal Entry</title>
  {% include "bootstrap.html" %}
  <style>
    body {
      background-image: url("/static/food.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</head>

<body>
  {% include "navbar.html" %}
  <div class="jumbotron" style="margin-top: 10px;">
    <h1>New Nutrition Entry</h1>
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form_data.as_table }}
        <tr>
          <td></td>
          <td>
            <input type="submit" class="btn btn-primary" name="add" value="Add Entry">
            <a href="/nutrition/" class="btn btn-secondary">Cancel</a>
          </td>
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html>