<html>

<head>
	<meta charset="utf-8">
	<title>Nutrition</title>
	{% include "bootstrap.html" %}
	{% load static %}
	<script src="{%static 'common.js' %}"></script>
	<style>
		body {
			background-image: url("/static/food.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
</head>

<body>
	{% include "navbar.html" %}
	<div class="jumbotron" style="margin-top: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); opacity: 0.96;">
		<h1>Nutrition Journal</h1>
		<div class="button">
		{% if switch == FALSE %}
			<a href="?switch=TRUE" >
				<label class="btn btn-sm" style="background-color: #bcc2e0; border-color: black;">
					Hide Macros
				</label>
			</a>
		{% else %}
			<a href="/nutrition/">
				<label class="btn btn-secondary btn-sm">
					Show Macros
				</label>
			</a>
		</div>
		{% endif %}
		{% if not table_data %}
		</p>No nutrition entries to display.</p>
		{% else %}
		<table class="table table-striped" border="1"
			style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			{% if switch == FALSE %}
			<tr>
				<th style="border-top: 10px;">Date</th>
				<th style="border: 10px;">Description</th>
				<th style="border-top: 10px;">Category</th>
				<th style="border: 10px;">Calories</th>
				<th style="border-top: 10px; background-color: #bcc2e0;">Protein</th>
				<th style="border: 10px; background-color: #bcc2e0;">Fats</th>
				<th style="border-top: 10px; background-color: #bcc2e0;">Carbs</th>
				<th style="border: 10px;">Action</th>
			</tr>
			{% for row in table_data %}
			<tr>
				<td>{{ row.date }}</td>
				<td>{{ row.description }}</td>
				<td>{{ row.category }}</td>
				<td>{{ row.calories }}</td>
				{% if row.fats and row.carbs and row.protein %}
				<td>{{ row.protein }} g</td>
				<td>{{ row.fats }} g</td>
				<td>{{ row.carbs }} g</td>
				{% elif row.fats and not row.carbs and not row.protein %}
				<td>--</td>
				<td>{{ row.fats }} g</td>
				<td>--</td>
				{% elif not row.fats and not row.carbs and row.protein %}
				<td>{{ row.protein }} g</td>
				<td>--</td>
				<td>--</td>
				{% elif not row.fats and row.carbs and not row.protein %}
				<td>--</td>
				<td>--</td>
				<td>{{ row.carbs }} g</td>
				{% else %}
				<td>--</td>
				<td>--</td>
				<td>--</td>
				{% endif %}
			<td>
				<a class="btn btn-primary" href="/nutrition/edit/{{ row.id }}/">Edit</a>
				<a class="btn btn-primary" href="#" onclick="confirmDeleteModal({{ row.id }})">Delete</a>
			{% endfor %}
				</td>
			</tr>
			{% else %}
			<tr>
				<th style="border-top: 10px;">Date</th>
				<th style="border: 10px;">Description</th>
				<th style="border-top: 10px;">Category</th>
				<th style="border: 10px;">Calories</th>
				<th style="border-top: 10px;">Action</th>
			</tr>
			{% for row in table_data %}
			<tr>
				<td>{{ row.date }}</td>
				<td>{{ row.description }}</td>
				<td>{{ row.category }}</td>
				<td>{{ row.calories }}</td>
				<td>
				<a class="btn btn-primary" href="/nutrition/edit/{{ row.id }}/">Edit</a>
				<a class="btn btn-primary" href="#" onclick="confirmDeleteModal({{ row.id }})">Delete</a>
				</td>
			</tr>
			{% endfor %}
		{% endif %}
		</table>
		{% endif %}
		<form method="GET" action="/nutrition/add/">
			<input type="submit" class="btn btn-primary" value="Add Nutrition Entry">
		</form>
		<p> Total Calories: {{res}} </p>
	</div>

	<!-- Modal -->
	<div id="deleteModal" class="modal fade" role='dialog'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Delete Nutrition Entry</h4>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete this Nutrition Entry?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<span id='deleteButton'></span>
				</div>
			</div>
		</div>
	</div>
	<!--Modal ends here--->
</body>

</html>