<html>

<head>
    {% include "bootstrap.html" %}
    {% load static %}
    <!-- <script src="{%static '.js' %}" /></script> -->
    <link rel="stylesheet" href="{%static 'global.css' %}" />
    <style>
        body {
            background-image: url("/static/space.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center
        }
</style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
    <div class="card bg-light rounded center" style="margin-top: 100; margin-bottom: 100; opacity: 0.80; margin-left: auto; margin-right: auto;" >
    <div class="col-4" style="max-width: 30%; margin: auto; margin-top: 50px;">
        <img class="card-img" src="/static/ofit.jpg" alt="SafeMoon to the MOON!">
    </div>
    <br />
    <div class="card-body">
    <h2 style="text-align: center;">What is Orion Wellness?</h2>
    <p style="margin-top: 30px; margin-left: 100px; margin-right: 100px">
        Lorem ipsum dolor sit amet, est aliquid tacimates vituperatoribus te, invenire electram no sed, qui ne porro atqui atomorum. Eos ei accusam lucilius delicatissimi. Est oportere scripserit id, vix ut ridens persecuti. Ex primis aeterno singulis usu, rebum singulis consetetur eu vim. Ex tempor dicunt eum, nam cu sumo tota nusquam. Mea ne perfecto signiferumque, nec et sonet solet, in vim sint epicurei rationibus.

        Ei duo reprimique scribentur, ea aliquam facilis legendos his. Pri cu appetere tincidunt. An sed tempor iudicabit prodesset, semper molestiae est id. An postea oblique duo, in usu reque delectus probatus.
        
        
    </p>
    <p style="margin-top: 30px; margin-left: 100px; margin-right: 100px">
        
        Error scaevola luptatum te pri, discere intellegat ex pro. Viderer tacimates cu duo, tota malis abhorreant ei mea. Putant verterem patrioque vim ne, ne gubergren similique vix. Eu alii primis sensibus per. Homero doming iriure et vix, id sed solet ancillae.
        
        Soleat phaedrum maluisset ad has, per no odio sumo. Te assum mazim laudem qui, in porro viderer vis. Ei nihil comprehensam sit. Fugit urbanitas consectetuer duo in, cu sed tale dicat delicatissimi.
        
        Sea ea inani aperiri invenire. An iisque mandamus vis. Nostrud inimicus ius no. In vel noster melius repudiare, partem salutandi nam no. Ferri torquatos per an. Mei ut purto ceteros, et sed viderer pertinacia..
    </p>



</div>
</div>
</div>
</body>

</html>