<html>

<head>
    {% include "bootstrap.html" %}
    {% load static %}
    <style>
        body {
            background-image: url("/static/self.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
            <div class = "jumbotron jumbo_text bg-dark" style="margin-top: 100px; padding-top: 40px; padding-bottom: 30px; opacity: 0.96;">
                <h1 style="color: whitesmoke;">Join</h1>
                <form method="POST">{% csrf_token %}
                    <table style="color: whitesmoke; padding: auto;">
                        {{ join_form.as_table }}
                        <tr>
                            <td>
                                <input type="submit" class="btn btn-primary" value="Join" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-sm-2">
        </div>
        </div>
    </div>
    </div>
</body>

</html>